<div class="row">
    <h1>Educacion</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
    <ul>
        <li>
            <h1>Profesorado de educación secundaria en Historia</h1> - <h3>(4 años)</h3>
        </li>
        <p>Insituto de Educación Superior PT-151 Magister.</p>
    </ul>
    <ul>
        <li>
            <h1>Full Stack Developer Jr</h1> - <h3>(7 meses)</h3>
        </li>
        <p>Argentina Programa - INTI - Ministerio de Desarrollo Productivo Argentina.</p>
    </ul>
    </div>
    </div>