.row{
    padding: 20px;
    }
div{
    background-color: rgb(43, 45, 203);
    text-align: center;
}

img{
    max-height: 6cm;
    
}
/*estilo de la foto de perfil*/
@media(min-width: 576px){
#fotodeperfil{
    position: absolute;
    width: 15%;
    border-radius: 100%;
    box-shadow: 3px 3px 3px grey;
    left: 3%;
    top: 650px;
}
}
@media(max-width: 575px){
    #fotodeperfil{
        position: absolute;
        width: 30%;
        border-radius: 100%;
        box-shadow: 3px 3px 3px grey;
        left: 35%;
        top: 900px;
    }
    }

/*etiqueta nombre*/
#nombre{
font-size: 30px;
font-weight: bolder;
margin-top: 10%;
margin-left: 10px;
}

/*etiqueta titulo*/
#titulo{
    font-size: 25px;
} 