<div class="row">
<h1>Experiencia laboral</h1>
<div class="col-lg-1"></div>
<div class="col-lg-11">
<ul>
    <li>
        <h1>Empleado Municipal</h1> - <h3>(9 años)</h3>
    </li>
    <p>Desempeño administrativo, con manejo fluido de herramientas de Microsoft y programas internos propios de la institución, en la Municipalidad de la Ciudad de Mendoza.</p>
</ul>
<ul>
    <li>
        <h1>Profesor de Historia</h1> - <h3>(4 años)</h3>
    </li>
    <p>Trabajo docente en la materia Historia e Historia y Formación Ética y Ciudadana, en escuelas secundarias de la Provincia de Mendoza.</p>
</ul>
</div>
</div>